# Telegram (https://my.telegram.org and @BotFather)
API_ID=
HASH=
TOKEN=
CHAT_ID=

# Reddit (https://www.reddit.com/prefs/apps)
CLIENT_ID=
CLIENT_SECRET=
THREAD_ID=

# Twitter / X (https://developer.twitter.com)
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
